.App {
  background: white;
  text-align: center;
  width:100%;
  
  &__container {
    border:1px solid black;
    max-width: 600px;
    min-width: 260px;
    margin:4rem auto;
    width:50%; 
    background:white;   
  }
}

